@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Cafe24Gowoonbam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* 노말라이즈 */
body,
ul,
li,
h1, h2, h3, h4, h5,
p, span {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

 /* 노말라이즈 끝 */

 /* 라이브러리 */
.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-black {
  border: 1px solid #000;
}

.border-green {
  border: 1px solid green;
}

.flex {
  display: flex;
}

.flex-d {
  flex-direction: column;
}

.grid {
  display: grid;
}

.con {
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
}



  img {
  width: 100%;
  display: block;
}
 /* 라이브러리 끝 */

/* 커스텀 */
html {
  font-family: 'Cafe24Gowoonbam';
  font-family: "Aboreto", system-ui;
  font-family: 'Pretendard';
  background-color: #FFF7F5;
}

/* header */
.top-bar {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: opacity .4s ease-in-out;
  background-color: rgba(255, 193, 206, .5);
}

.hide-header {
  opacity: 0;
}

.tb-wrap {
  font-family: "Aboreto", system-ui;
  justify-content: space-between;
  padding: 25px 240px;
}

.top-menu {
  justify-content: center;
  align-items: center;
}

.top-menu li {
  position: relative;
}

.top-menu li:hover::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.top-menu, .top-sub {
  gap: 20px;
}

.top-bar li span {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.top-sub {
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.top-sub li {
  position: relative;
}

.top-sub li:hover::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
/* header */


/* main */

.main-wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main-slide {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
}

.main-slide li {
  width: 100%;
}

.main-slide li img {
  object-fit: cover;
}

.swiper-scrollbar {
  bottom: 150px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  background: rgba(255, 255, 255, 0.3);
  width:  1440px !important;
  height: 2px !important; 
}

.swiper-scrollbar-drag {
  background: #fff; 
}
/* main */

/* sec-1  */
.sec-1 {
  padding: 168px 240px 0;
  box-sizing: border-box;
}

.sec-1_text-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sec-1_text-box h1 {
  font-family: "Aboreto", system-ui;
  font-size: 60px;
  font-weight: 400;
  color: #ff7777;
}

.sec-1_text-box span {
  font-size: 22px;
  font-weight: 600;
  color: #ffa3a3;
}

.sec-1_line-img {
  width: 1px;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.sec-1_main-img {
  width: 100%;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.sec-1_main-img img {
  width: 550px;
}

.sec-1_item-wrap {
  margin-top: 200px;
}

.sec-1_item-wrap .sec-1_item-box .sec-1_item-text-box {
  flex-direction: column;
}

.sec-1_item-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-1_item-box li {
  position: relative;
  width: 480px;
  height: 874px;
  overflow: hidden;
  text-align: center;
  transition: transform 1s ease, opacity 1s ease;
}

/* 배경 기본 상태 */
.sec-1_item-box li::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: height 1s ease, top 1s ease;
  z-index: 0;
}

/* 각 아이템별 배경 */
.item1::before { background-image: url("./imgs/sec-1_item-img1.png"); }
.item2::before { background-image: url("./imgs/sec-1_item-img2.png"); }
.item3::before { background-image: url("./imgs/sec-1_item-img3.png"); }
.item4::before { background-image: url("./imgs/sec-1_item-img4.png"); }
.item5::before { background-image: url("./imgs/sec-1_item-img5.png"); }

/* 기본 상태 */
.sec-1_item-box li::before {
  height: 10%;
  top: 56%;
  opacity: 1;
}

/* hover */
.sec-1_item-box li:hover::before {
  height: 100%;
  top: 0;
  opacity: 1;
}

/* 텍스트*/
.sec-1_item-text-box {
  position: relative;
  z-index: 1;
  color: #555;
  transition: color 0.4s ease;
  margin-top: 66px;
}

.sec-1_item-text-box .sub-tit {
  font-family: "Aboreto", system-ui;
  color: #c8c8c8;
}

.sec-1_item-text-box h1 {
  font-family: "Aboreto", system-ui;
}

.sec-1_item-text-box .sec_1-text {
  margin-top: 12px;
  line-height: 24px;
  color: #c8c8c8;
}

.sec-1_item-box li img {
  position: relative;
  z-index: 1;
  width: 200px;
  margin-top: 86px;
  left: 50%;
  transform: translateX(-50%);
}


.sec-1_item-box li:hover .sec-1_item-text-box {
  color: #fff;
}

.sec-1_item-box li:hover .sec-1_item-text-box .sec_1-text {
  color: #fff;
}

.sec-1_item-box li:hover .sec-1_item-text-box .sub-tit {
  color: #fff;
}
/* sec-1  */

/* sec-2 */
.sec-2 {
  padding: 174px 240px 174px 0;
  box-sizing: border-box;
}

.product_wrap {
  gap: 28px;
}

.product-img {
  position: relative;
  width: 1026px;
  overflow: hidden;
}

.fade-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  animation: fadeSequence 8s infinite;
}

.img1 {
  animation-delay: 0s;
}

.img2 {
  animation-delay: 4s; 
}

@keyframes fadeSequence {
  0% { opacity: 0; }
  10% { opacity: 1; }   /* 서서히 등장 */
  40% { opacity: 1; }   /* 유지 */
  50% { opacity: 0; }   /* 서서히 사라짐 */
  100% { opacity: 0; }  /* 대기 */
}

.product_item-wrap {
  flex-direction: column;
  gap: 26px;
}

.product_item-wrap .product_item-box {
  gap: 10px;
}

.product_item-wrap .product_item-box .product-item {
  flex-direction: column;
  gap: 32px;
}

.product_item-wrap .product_item-box .product-item .product_text-wrap {
  flex-direction: column;
  gap: 12px;
}

.product_item-wrap .product-item .product_text-wrap h1 {
  font-size: 20px;
  font-weight: 500;
  color: #252525;
}

.product_item-wrap .product-item .product_text-wrap .pay-box {
  gap: 8px;
}

.product_item-wrap .product-item .product_text-wrap .pay-box .pay {
  font-size: 14px;
  font-weight: 500;
  color: #8d8d8d;
}

.product_item-wrap .product-item .product_text-wrap .sale-box {
  gap: 8px;
}

.product_item-wrap .product-item .product_text-wrap .sale-box .sale {
  font-size: 20px;
  font-weight: 700;
  color: #ff7777;
}

.product_item-wrap .product-item .product_text-wrap .sale-box .sale-pay {
  font-size: 20px;
  font-weight: 700;
  color: #252525;
}

/* sec-2 */

/* sec-3 */
.sec-3_wrap {
  position: relative;
  width: 100%;
}

.sec-3_text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec-3_text-box span {
  font-family: 'Cafe24Gowoonbam';
  font-size: 64px;
  font-weight: 400;
  color: #fff;
}
/* sec-3 */

/* sec-4 */
.sec-4 {
  padding: 174px 0 174px 240px;
  box-sizing: border-box;
}
/* sec-4 */

/* sec-5 */
.sec-5_wrap {
  position: relative;
  width: 100%;
}

.sec-5_text-box {
  position: absolute;
  bottom: 204px;
  right: 240px;
  transform: translateY(100%);
  opacity: 0;
}

.sec-5_text-box span {
  font-size: 44px;
  letter-spacing: 2px;
  font-family: 'Cafe24Gowoonbam';
  background: linear-gradient(160deg, #CCCCCC 67%, #1F720A 99%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* sec-5 */

/* sec-6 */
.sec-6 {
  padding: 166px 290px 450px;
  box-sizing: border-box;
  background-image: url(./imgs/sec-6_back-img.png);
}

.sec-6_wrap {
  position: relative;
  z-index: 0;
}

.sec-6_text-box {
  color: #fff;
  gap: 1092px;
  flex-direction: column;
  font-family: "Aboreto", system-ui;
  justify-content: center;
  align-items: center;
  position: relative;
  pointer-events: none;
}

.sec-6_text-box .sec-6_text-zindex {
  gap: 1092px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  pointer-events: none;
}

.sec-6_text-box .sec-6_title {
  gap: 12px;
  flex-direction: column;
}

.sec-6_text-box .sec-6_title h1 {
  font-size: 94px;
  color: #3CFF0B;
}

.sec-6_text-box .sec-6_title span {
  font-size: 40px;
  text-align: center;
}

.sec-6_text-box .sec-6_text p {
  font-size: 44px;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.25);
}

.sec-6_img-box {
  position: absolute;
  bottom: 102px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  width: 70%;
}

.sec-6_text-box::after {
  position: absolute;
  content: "";
  background-image: url(./imgs/sec-6_cloud2.png);
  top: -50px;
  left: -30px;
  width: 460px;
  height: 512px;
  pointer-events: none;
  opacity: 1;
  animation: fadeInOut 4s ease-in-out infinite;
  z-index: 2;
}
@keyframes fadeInOut {
  0% {
    opacity: .7;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: .7;
    transform: translateY(0);
  }
}
.sec-6_text-box::before {
  position: absolute;
  content: "";
  background-image: url(./imgs/sec-6_cloud1.png);
  bottom: -270px;
  right: -30px;
  width: 622px;
  height: 1024px;
  pointer-events: none;
  animation: fadeInOut 4s ease-in-out infinite;
  z-index: 2;
}
/* sec-6 */

/* sec-7 */
.sec-7 {
  box-sizing: border-box;
  padding: 136px 0;
  overflow: hidden;
}

.sec-7_wrap {
  gap: 74px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.mySwiper-3 {
  width: 100%;
  overflow: hidden;
}

.mySwiper-3 .swiper-slide {
  width: auto;
}

.sec-7_wrap span {
  font-size: 45px;
  font-family: "Aboreto", system-ui;
}

/* sec-7 */


/* footer */
.ft {
  padding: 50px 240px;
  box-sizing: border-box;
}


.ft_wrap {
  justify-content: space-between;
  color: #ff7777;
}

.left-text {
  gap: 38px;
  flex-direction: column;
}

.left-text .center, 
.left-text .company {
  gap: 12px;
  flex-direction: column;
}

.left-text span {
  font-size: 12px;
  font-weight: 700;
}

.left-text p {
  font-size: 12px;
  font-weight: 500;
  line-height: 19.2px;
}

.right-text {
  gap: 124px;
  flex-direction: column;
}

.right-text .ft-menu {
  justify-content: flex-end;
  gap: 118px;
}

.right-text .ft-menu .Guide,
.right-text .ft-menu .media {
  flex-direction: column;
  gap: 12px;
}

.right-text .ft-menu span {
  font-size: 12px;
  font-weight: 700;
  text-align: right;
}

.right-text .ft-menu .Guide-menu,
.right-text .ft-menu .sns {
  gap: 6px;
  flex-direction: column;
}


.right-text .ft-menu .Guide-menu li,
.right-text .ft-menu .sns li {
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

.right-text .ft-menu .Guide-menu li:hover,
.right-text .ft-menu .sns li:hover {
  text-decoration: underline;
}

.right-text p {
  font-size: 12px;
  font-weight: 500;
}
/* footer */